html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  text-align: center;
  color: white;
}

canvas {
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%);
  position: absolute;
  display: block;
}
